<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="agendamento">
        <h1>Agendamento</h1>
        <form action="/agendamento" method="POST">
            <label for="nome">Digite seu Nome:</label>
            <input type="text" name="nome" placeholder="Nome">
            <label>Escolha o horário que deseja cortar:</label>
            <input type="number" name="horario" placeholder="Horário">
            <label>Escolha o Barbeiro de sua preferência:</label>
            <input type="text" name="barbeiro" placeholder="Nome do barbeiro">
            <label>Escolha seu metódo de pagamento:</label>
            <input type="text" name="pagamento" placeholder="Metódo de pagamento">
            <button type="submit" value="Agendar">
        </form>
</body>
</html>