<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <div class="cadastro">
        <h1>Cadastro</h1>
        <form action="/cadastro" method="POST">
            <label for="nome">Digite seu Nome:</label>
            <input type="text" name="nome" placeholder="Nome">
            <label>Digite seuEmail:</label>
            <input type="text" name="email" placeholder="Email">
            <label>Digite seu Telefone:</label>
            <input type="number" name="telefone" placeholder="Telefone">
            <label>Digite suaSenha:</label>
            <input type="password" name="senha" placeholder="Senha">
            <button type="submit" value="Cadastrar">
        </form>
    </div>
    <h2>Conta cadastrada, faça seu agendamento!</h2>
    <button type ="submit" value="agendamento"><a href="/agendamento.html">Agendar</a></button>
</body>
</html>