<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | BIGODS</title>
    <link rel="stylesheet" href="/css/cadastro.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>

    <header class="header">
        <a href="/home" class="logo" data-aos="fade-down" data-aos-duration="1000">
            <img src="/img/logo_recortada.png" alt="Logo BIGODS">
        </a>
    </header>

    <div class="cadastro-container" data-aos="zoom-in" data-aos-duration="1200">
        <h1>Crie sua conta</h1>
        <form action="/cadastro" method="POST">
            <input type="text" placeholder="Nome completo" required>
            <input type="email" placeholder="E-mail" required>
            <input type="tel" placeholder="Telefone" required>
            <input type="password" placeholder="Senha" required>
            <input type="password" placeholder="Confirme a senha" required>
            <button type="submit" value="Cadastrar" class="btn">Cadastrar</button>
        </form>
        <p class="login-link">Já tem uma conta? <a href="/login">Fazer login</a></p>        
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>