<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <label for="email">Digite seuEmail:</label>
            <input type="text" name="email" placeholder="Email">
            <label>Digite sua Senha:</label>
            <input type="password" name="senha" placeholder="Senha">
            <button type="submit" value="Login">
        </form>
    </div>
    <h2>Não possui uma conta?</h2>
    <button type="submit" value="cadastro"><a href="/cadastro.html">Cadastrar-se</a></button>
</body>
</body>
</html>